body.activity {
    background: $gray-200;
    .activity {
        width: 500px;
        margin: 40px auto;
        text-align: center;
        padding: 20px 40px;
        img {
            margin-bottom: 20px;
        }
        background: #FFF;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.10);
        border-radius: 3px;

        .footer {
            border-top: 1px solid $gray-300;
            margin-top: 20px;
            margin-left: -40px;
            margin-right: -40px;
            margin-bottom: -20px;
            border-bottom-left-radius: 3px;
            border-bottom-right-radius: 3px;
            padding: 20px 40px 0 40px;
            background: $gray-100;
            figure {
                display: inline;
                img {
                  width: 30px;
                }
                margin-right: 10px;
            }
        }
    }
}
