#tessellations {
    display: flex;
    position: relative;
    img {
        position: absolute;
        opacity: 0.3;
        z-index: -9;
    }
    .btn {
        margin-left: auto;
        margin-right: auto;
        margin-top: 200px;
        margin-bottom: auto;
        width: 400px;
    }
}
