{% extends "site_base.html" %}

{% load pinax_points_tags %}

{% block body_class %}activity{% endblock %}

{% block body %}
<div class="activity">
    {% if showing %}
        <h1>Guess the Patch</h1>
        <img src="{{ showing.data.question }}">
        <form method="post" action="{% url "response" showing.pk %}">
            {% csrf_token %}
            {% for choice in showing.data.choices %}
                <input type="submit" class="patch-button" value="{{ choice }}" name="answer" />
            {% endfor %}
        </form>
    {% else %}
        <h1>You Win!</h1>
        <div class="you-win">
            {% for answer in correct_answers %}
            <figure>
                <img src="http://pinaxproject.com/pinax-design/patches/{{ answer }}.svg" />
            </figure>
            {% endfor %}
        </div>
    {% endif %}
</div>
{% endblock %}


{% block content_left %}
    {% points_for_object user as points %}
    <div class="stats-container">
        <div class="user-stats">
            <div class="user-points"><div class="title">Score</div><div class="points">{{ points }}</div></div>
            <div class="user-last-score {% if points_awarded < 0 %}negative{% else %}positive{% endif %}">{{ points_awarded }}</div>
        </div>

        <div class="user-stats mt-4">
            <div class="correct-answers">
                <div class="title">Correct Answers</div>
                <div class="patches" data-per-row="5">
                    {% for answer in correct_answers %}
                        <img src="http://pinaxproject.com/pinax-design/patches/{{ answer }}.svg" />
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block content_right %}
    {% top_objects "auth.User" as top_users limit 10 %}
    <div class="stats-container">
        <div class="overall-stats">
            <div class="top-users">
                <div class="title"><i class="fas fa-trophy"></i> Top Players</div>
                <div class="users">
                {% for user in top_users %}
                    <div class="user">
                        <div class="name">{{ user.get_full_name }}</div>
                        <div class="points">{{ user.num_points }}</div>
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
