{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}pinax-project-account{% endblock %}

{% block body_class %}home{% endblock %}

{% block body_base %}
<main>
    <section class="jumbotron">
        <div class="container">
            <div id="tessellations"
                 data-apps="{% for app in apps %}{{ app }} {% endfor %}"
                 data-per-row="5">
                    <a class="btn btn-lg btn-primary" href="{% url "social:begin" "github" %}">
                        <i class="fab fa-github" aria-hidden="true"></i>
                        {% trans "Login to Play" %}
                    </a>
                </div>
        </div>
    </section>
</main>
{% endblock %}
